<div class="espace"></div>
<div class="">
<button class="addButton" mat-raised-button color="primary" matTooltip="ajouter fournisseur"
        matTooltipPosition="above" [routerLink]="'/fournisseurs/add/'"> Ajouter fournisseur
</button>
</div>
<mat-form-field class="filter">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <!-- Raison sociale Column -->
    <ng-container matColumnDef="raisonSociale">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Raison sociale </th>
      <td mat-cell *matCellDef="let row"> {{row.raisonSociale}} </td>
    </ng-container>

    <!-- numero Column -->
    <ng-container matColumnDef="numero">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> numero </th>
      <td mat-cell *matCellDef="let row"> {{row.numero}} </td>
    </ng-container>

    <!-- tel Column -->
    <ng-container matColumnDef="tel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> tel </th>
      <td mat-cell *matCellDef="let row" > {{row.tel}} </td>
    </ng-container>

    <!-- Actions Column  -->
    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions</th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button color="accent" matTooltip="modifier" matTooltipPosition="above"
                (click)="updateFournisseur(row.id)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" matTooltip="supprimer" matTooltipPosition="above"
                (click)="openDialog(row.id)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button color="primary" matTooltip="detail" matTooltipPosition="above"
                (click)="fournisseurDetails(row.id)">
          <mat-icon>visibility</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>


<!-- Copyright 2021 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->

