<h2 class="addButton">SousFamilles Details</h2> 

  <button class="addButton" mat-raised-button color="primary" matTooltip="Précédent"
        matTooltipPosition="above" [routerLink]="'/sousfamilles'">Précédent
  </button>
<div class="example-container addButton">

    <div class="example-container" style="width: fit-content">
       <div class="col-12">
          <div class="row">

            <mat-form-field class="field" appearance="fill" [floatLabel]="floatLabelControl.value" >
              <mat-label>Code</mat-label>
              <input matInput #code="ngModel" minlength="3" 
                     id="code" name="code"
                     [(ngModel)]="sousFamille.code" required placeholder="code">
            </mat-form-field>

            <mat-form-field class="field" appearance="fill" [floatLabel]="floatLabelControl.value">
              <mat-label>name</mat-label>
              <input matInput #adresse="ngModel" minlength="3" id="name"
                     name="name" [(ngModel)]="sousFamille.name" required
                     placeholder="name">
            </mat-form-field>

            
            </div>
          </div>
      </div>
</div>
